@using System.Web.Optimization;

<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/app/styles")
</head>
<body>
    <div data-ng-app="korann">
        @RenderBody()
        
        @Scripts.Render("~/bundles/app/vendors")
        @Scripts.Render("~/bundles/app/scripts")
    </div>
</body>
</html>
